@import 'variables';

.wrapper {
    max-width: 1300px;
}

//Main nav Styles

nav {
    display: flex;
    justify-content: space-between;
}

.nav-mobile {
    display: none;
}

.main-nav, .social-nav {
    display: flex;
}

.main-nav {
    background: transparent;
    .logo {
        color: #fff;
        display: inline-block;
        font-size: 26px;
        span {
            margin: 0 7px 0 5px;
            font-weight: 400;
        }
    }
    
    .nav-bar {
        display: inline-block;
        li {
            display: inline-block;
        }
    }
} 
    //end of main nav
    
.social-nav {
    li {
        display: inline-block;
        padding: 10px 0px 10px 12px;
        .login {
            border: 2px solid $grey;
            border-radius: 20px;
            padding: 5px 10px;
            &:hover {
                border: 2px solid #fff;
            }
        }
    }
    .lang {
        margin:  10px 0 0 25px;
        position: relative;
        top: 0;
//        i {
//            &:hover {
//            color: rgba(255, 255, 255, 1);
//            }
//        }
        .flags {
            top: 34px;
            left: -61px;
        }
    } //end of lang
} // end of social nav bar 
    
    
// ======== Main Content ========

.main-content {
    .footnote {
        display: none;
    }
    
    .title {
        //margin-bottom: 0;
    }
    
    .product-mobile {
        display: none;
    }
    
    .screen-bugs {
        background: url(../img/screen.png) no-repeat;
        background-size: contain;
        width: 747px;
        height: 473px;
        .one {
            left: 330px;
            top: 110px;
        }
        .two {
            right: 264px;
            bottom: 110px;
        }
        .three {
            left: 378px;
        }
    }
} //End of main content

footer {
    .contact {
        display: flex;
        justify-content: space-between;
    } //enf of contact
    
    .sign-in {
        display: flex;
        justify-content: space-between;
    }
}