@import 'variables';

* {
    font-family: sans-serif;
}

body {
    background: $black;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

hr {
    border: 1px solid $grey;
}

.link-button {
    transition: transform 0.5s;
    &:hover {
        transform: translateY(5px);
    }
}

.logo i {
    color: $blue;
}


//Main nav Styles

nav {
    padding: 21px 30px 21px 30px;
    
    //    Basic styles for ul and li in nav bar 
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        color: rgba(255, 255, 255, 0.5);
        text-transform: capitalize;
        
        &:hover {
            color: rgba(255, 255, 255, 1);

        }
    } //    End of basic styles
}


// Nav-mobile
.nav-mobile {
    display: flex;
    a {
        flex: 1;
    }
    i {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}


// Main Nav
.main-nav {
    background: rgba(0, 0, 0, 0.5);
    .logo {
        display: none;
    }
    li {
        font-weight: bold;
        padding: 10px 0 10px 5px;
        
    }
    .dropdown {
        cursor: pointer;
    }
    a {
        padding-right: 4px;
    }
} 
    //end of main nav
    

// Nav-Bar - First level
.nav-bar {
    display: none;
}
.nav-secondLevel{
    display: none;

    li {
        display: block!important;
        border-bottom: 1px solid $grey;
    }
}

// Social Nav
.social-nav {
    font-size: 17px;
    li {
        display: none;
    }
    
    //Languages
    .lang {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        position: absolute;
        top: 21px;
        right: 15px;
        
        i {
            font-size: 20px
        }
        .fa-chevron-down {
            font-size: 13px;
        }
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
        
        .flags {
            display: none;
            background: #fff;
            border-radius: 18px;
            padding: 10px;
            position: absolute;
            top: 34px;
            right: 0;
            width: 100px;
            height: auto;
                
            li {
                color: $grey;
                display: block;
                opacity: 0.5;
                padding-bottom: 5px;
                &:hover {
                    opacity: 1;
                }
            }
        } // end of flags
    } //end of lang
} // end of social nav bar 

// ========= Main Content =========

.main-content {
    color: #fff;
    margin: 85px 0;
    text-align: center;
    
    h2 {
        font-size: 20px;
    }
    
    a {
        background: #fff;
        border-radius: 10px;
        color: $black;
        display: inline-block;
        font-size: 18px;
        margin: 30px 0;
        padding: 15px;
        
    }
    
    
    .game {
        margin: 30px 0;
    }
    
    .footnote {
        color: rgba(226, 53, 47, 0.8);
        display: block;
        font-size: 10px;
        margin-top: 50px;
        text-align: left!important;
        text-transform: none;
    }
    
    .title {
        background: #232c30;
        border: 3px dashed $yellow;
        border-radius: 50%;
        display: block;
        margin-bottom: 80px;
        text-transform: uppercase;
        width: 100px;
        height: 100px;
    }
    
    .product-mobile {
        margin-top: 30px;
        img {
            width: 170px;
        }
    }
    
    .screen-bugs {
        display: none;
    }
    
    
    .learn {
        a {
            background: transparent;
            border: 3px solid $blue;
            border-radius: 5px;
            color: $blue;
        }
    }
}

footer {
    color: #fff;
    padding: 30px 0;
    
    .contact {
        display: block;
        margin-bottom: 65px;
        text-align: center;
        text-transform: capitalize;
       
        i {
            font-size: 30px;
        }
        
        h3 {
        margin-top: 0;
        }
        
        ul {
            margin: 30px 0;
            padding: 0;
        }
        
        li {
            padding-bottom: 5px;
        }
    } //enf of contact
    
    .sign-in {
        margin-top: 65px;
        text-align: center;
        h1 {
            font-size: 23px;
        }
        h2 { 
            font-size: 14px;
        }
        
        a {
            background: $blue;
            border-radius: 5px;
            color: $grey;
            display: inline-block;
            font-weight: bold;
            margin-top: 17px;
            padding: 20px 15px;
        }
    }
}
    